notes.md
BEcom\databases\db.sqlite3
BEcom\databases\migrations
BEcom\media
BEcom\settings.py
BEcom/BEcom/settings.py
venv/
ven
BEcom/databases/db.sqlite3
BEcom/cart/__pycache__/views.cpython-312.pyc
BEcom/cart/__pycache__/urls.cpython-312.pyc
