<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Product Catalog</title>
</head>
<body>
<h1>Product Catalog</h1>
<li><a href="{% url 'home' %}" title="Go to Home">Home</a></li>
<li><a href="{% url 'cart:view_cart' %}">View Cart</a></li> 
<ul>
{% for product in products %}
<li>
<img src="{{ product.image.url }}" alt="{{ product.name }}" width="100" height="75">
<h2>{{ product.name }}</h2>
<p>{{ product.description }}</p>
<p>Price: ${{ product.price }}</p>
<a href="{% url 'cart:add_to_cart' product.id %}">Add to Cart</a>
</li>

{% endfor %}
</ul>
</body>
</html>