{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Site{% endblock %}</title>
    {# Other base CSS links or meta tags could be here #}
    {% block head %}
        {# This is where styles from child templates will be inserted if they use {{ block.super }} #}
        {# Or, if child templates *don't* use {{ block.super }}, they will *replace* this block #}
    {% endblock %}
</head>
<body>
    {% block content %}
    {% endblock %}

    {# Base JavaScript files could be here #}
</body>
</html>